@import '_variables';
.pre-scrollable {
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
}

.gap-below-lr {
    margin: 40px 30px 120px 30px;
    padding: 5px 5px 5px 5px;
}

.gap-below{
    margin-top: 10px;
    margin-bottom: 10px;
}

.min-gap-below-lr {
    margin: 40px 30px 10px 30px;
    padding: 5px 5px 5px 5px;
}

.blog-post {
    background: rgba(255, 255, 255, 0.71); // font-family: 'Roboto', sans-serif;
    height: 100%;
    
}

.block-shadow {
    
    -moz-box-shadow: 1px 4px 20px 1px #070707;
    -webkit-box-shadow: 1px 4px 20px 1px #070707;
    box-shadow: 1px 4px 20px 1px #070707;
}



@media (min-width: 768px) {
    .sidebar-fixed-pos-header {
        position: relative;

    }
    
    .sidebar-fixed-pos {
        position: fixed;
        top: 10%;
        left: 80%;
        right: 0;
    }
}

pre {
    padding: 10px 10px 10px 10px;
    background-color: $p-dark-text;
    color: $p-light-text;
    display: inline-block;
}

.sidebar-fixed-pos-header {
    padding: 1px 1px 1px 1px;
}

.sidebar-fixed-pos {
    padding: 1px 1px 1px 1px;
}

.sidebar-relative-pos {
    position: fixed;
    bottom: 5;
}

.gap-lr {
    margin: 0px 150px 0px 150px;
}

.c-padding-1 {
    padding: 30px 20px;
}

.card {
    margin-bottom: 45px;
    padding: 5px 5px 5px 5px;
}

.c-padding-2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.c-margin-1 {
    margin: 10px 10px 10px 10px;
}

.c-card-1 {
    width: 30rem;
    height: auto;
}


img.resize {
    width: 250px;
    height: auto;
}

img.resize-max {
    max-width: 750px;
    height: auto;
}

.full-alt {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbbcb1+54,dbbcb1+54,602b0e+78,511a12+96&1+0,0.93+100 */
    background: -moz-linear-gradient(left, rgba(219, 188, 177, 1) 0%, rgba(219, 188, 177, 0.96) 54%, rgba(96, 43, 14, 0.94) 78%, rgba(81, 26, 18, 0.93) 96%, rgba(81, 26, 18, 0.93) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(219, 188, 177, 1) 0%, rgba(219, 188, 177, 0.96) 54%, rgba(96, 43, 14, 0.94) 78%, rgba(81, 26, 18, 0.93) 96%, rgba(81, 26, 18, 0.93) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(219, 188, 177, 1) 0%, rgba(219, 188, 177, 0.96) 54%, rgba(96, 43, 14, 0.94) 78%, rgba(81, 26, 18, 0.93) 96%, rgba(81, 26, 18, 0.93) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbbcb1', endColorstr='#ed511a12', GradientType=1);
    /* IE6-9 */
}

.full {
    background: url('/static/img/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

.relief-shadow {
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
}

.trans-shadow {
    text-shadow: 1px -1px 1px rgba(126, 162, 170, .5), 3px 4px 10px #363657;
}

body {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 60px;
}

row.c-double-row {
    height: 200%;
    /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: auto;
    line-height: 20px;
    /* Vertically center the text there */
    font-size: 15px;
}

html {
    position: relative;
    min-height: 100%;
    word-wrap: break-word;
}