<div class="container-fluid text-primary c-padding-1">

    {%for post in posts.items%}
    
    <div id="{{ post.id }}">
        <h4 class="trans-shadow">
            {{ post.title }}
        </h4>
        <h6>
            By: {{post.user.name}}
        </h6>

    </div>

    
    <div> <p>{{post.body|striptags|truncate(300)}} </p><a href="{{url_for('blogentry', entry = post.id)}}">READ MORE</a> </div>
    <hr>    
    {% endfor %}
</div>



<div class="container-fluid c-padding-1">
    {% if posts.has_prev %} <a href="{{ url_for('blog', page=posts.prev_num )}}"> Previous Posts</a> {% endif %} {% if posts.has_next
    %} <a href="{{ url_for('blog', page=posts.next_num )}}"> Older Posts</a> {% endif %}

</div>