<h5>
    {% if title %} {{ title }} {% endif %}
</h5>

{% set type = active %} {% for e in entries %} 
<div class="card mx-auto text-light bg-dark">
    <div class="card-body">
        <h4 class="card-title relief-shadow">{{ e['title'] }}</h4>
        <p class="card-text">{{ e['body'] }}.</p>
        <a href="{{ e['url'] }}" class="btn btn-info">Explore</a>
    </div>
</div>

{% endfor %}