 {% if posts %} {% for post in posts.items %}

<div class="card bg-info text-white block-shadow">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text"> {{post.get_date_string()}}</p>
    <a href="{{url_for('blogentry', entry = post.id)}}" class="btn btn-secondary">Show</a>
  </div>
</div>

{% endfor %} {% else %} {% if overview %} {% for post in overview %}
<div class="card bg-info text-white block-shadow">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text"> {{post.get_date_string()}}</p>
        <a href="{{url_for('blogentry', entry = post.id)}}" class="btn btn-secondary">Show</a>
      </div>
</div>

{% endfor %} {% endif %} {% endif %}