{% extends "base.html" %} {% block content %}

<div class="container-fluid text-center gap-below">

	<div class="row">
		<div class="col-md-4 trans-shadow ">
			<h3>About me</h3>
		</div>

		<div class="col-md-8 bg-primary text-white c-padding-1 ">

			<p> I try to log everything technical I came in touch with. Find some of the skills and experiences I find worth mentioning
				below.
			</p>
			<p> If you are interested in any details, feel free to drop me some
				<a href="mailto:lcs.freund@gmail.com">mail</a>.</p>

		</div>


	</div>
</div>

<div class="container">

	<div class="row">
		{% for skill in skills %}
		<div class="col-sm-12 col-md-6 col-xl-4">
			<div class="card bg-primary text-secondary block-shadow">
				<div class="card-body text-white">
					<h4 class="card-title relief-shadow">
						{{skill.category}}
					</h4>
				</div>
				<ul class="list-group list-group-flush ">
					{% for bullet in skill.get_bullet_list() %}
					<li class="list-group-item text-center {{loop.cycle('list-group-item-secondary','list-group-item-primary')}}">
						{{bullet}}
					</li>
					{% endfor %}
				</ul>

			</div>

		</div>
		{% endfor %}
	</div>


</div>





{% endblock content %}