<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='build/bootstrap.css')}}" />
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<title>{% if title %}
	Lucas Freund - {{ title }}
	{% else %}
	Lucas Freund - Portfolio
	{% endif %}</title>
</head>

<body class="full-alt">
	<!-- START -->
	{% include "header.html" %}
	<div class="gap-below-lr">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					 <p><a class="badge badge-warning" href="#">{{message}}</a></p>
				{% endfor %}
			{% endif %}
		{% endwith %}
			{% block content %} {% endblock content %}
			
	</div>
	
	{% include "footer.html" %}
	<!--  END  -->
	<script src="{{url_for('static',filename='build/jquery-3.2.1.min.js')}}"></script>
	<script src="{{url_for('static',filename='build/popper.min.js')}}"></script>
	<script src="{{url_for('static',filename='build/bootstrap.min.js')}}"></script>
	<!-- <script src="{{url_for('static',filename='javascript/custom.js')}}"></script> -->
</body>


</html>