{% extends "base.html" %} {% block content %}

<div class="row">
	<div class="col-12  bg-info text-white c-padding-1  ">
		<h3>{{blogpost.title}}</h3>
	</div>
</div>

<div class="row blog-post">
	<div class="col-md-10 wrap-text">
		<p>{{blogpost.body | safe}}</p>

	</div>
	<div class="col-xl-2 bg-primary text-secondary c-padding-1">
		{% include "inserts/recentposts.html" %}
	</div>
</div>


{% endblock content %}