{% extends "base.html" %} {% block content %}
<div class="row">
    <div id="blogheader" class="bg-info text-white col-12 c-padding-1">
        <h3 class="relief-shadow">Recent Articles</h3>
    </div>
</div>

<div class="row blog-post">
    <div class="col-xl-10 ">
        {% include "inserts/blogview.html" %}
    </div>
    <div class="col-xl-2 bg-primary text-secondary c-padding-1">

        {% include "inserts/recentposts.html" %}

    </div>
</div>


{% endblock content %}