{% extends "base.html" %} {% block content %}

<div class="row bg-info bg-info text-white">
    <div class="col-12 c-padding-1">
        <h3 class="relief-shadow">Code:</h3>
    </div>
</div>

<div class="row bg-info text-light">
    <div class="col-md-8 bg-dark text-light c-padding-1">
        <h3>Lorem Ipsum Code</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quam, magnam ipsa laudantium sit recusandae aspernatur officiis!
            Necessitatibus dolore placeat possimus sint, expedita laborum sunt, quasi laboriosam, eius deserunt ratione.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quam, magnam ipsa laudantium sit recusandae aspernatur officiis!
            Necessitatibus dolore placeat possimus sint, expedita laborum sunt, quasi laboriosam, eius deserunt ratione.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quam, magnam ipsa laudantium sit recusandae aspernatur officiis!
            Necessitatibus dolore placeat possimus sint, expedita laborum sunt, quasi laboriosam, eius deserunt ratione.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut quam, magnam ipsa laudantium sit recusandae aspernatur officiis!
            Necessitatibus dolore placeat possimus sint, expedita laborum sunt, quasi laboriosam, eius deserunt ratione.
        </p>
    </div>
    <div class="col-md-4 bg-light text-dark c-padding-1">
        <h4>Relevant Links</h4>
        {% include "inserts/linklist.html" %}
    </div>
</div>


{% endblock content %}