{% block footer %}
<footer class="footer bg-primary">
    <div class="container-fluid">
        <div class="text-light">
        Built With: Flask, Bootstrap and <a href="#"> John Joessons Bootstrap4Builder</a>. <3 
        </div>
    </div>
  </footer>
{% endblock footer %}