{% block header %}
<nav  class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand relief-shadow" href="/index">Lucas Freund</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
	    aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		
			<!--SECTION Home -->
			{% if active and active == 'home' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}

			<a class="nav-link" href="/index">Home
			{% if active and active == 'home' %}
					<span class="sr-only">(current)</span>
			{% endif %}
			</a>
			</li>

			<!--SECTION BLOG -->
			{% if active and active == 'blog' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}

			<a class="nav-link" href="/blog">Blog
			{% if active and active == 'blog' %}
				<span class="sr-only">(current)</span>
			{% endif %}
			</a>
			</li>
			
			<!--SECTION About -->
			
			{% if active and active == 'about' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}
			<a class="nav-link" href="/about">About
			{% if active and active == 'about' %}
					<span class="sr-only">(current)</span>
			{% endif %}
			</a>
			</li>

			<!--SECTION Code -->
			<!--
			{% if active and active == 'code' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}
			<a class="nav-link" href="/code">Code
			{% if active and active == 'code' %}
					<span class="sr-only">(current)</span>
			{% endif %}
			</a>
			</li>
		-->
			<!--SECTION Music -->
			<!--
			{% if active and active == 'music' %}
				<li class="nav-item active">
			{% else %}
				<li class="nav-item">
			{% endif %}
				<a class="nav-link" href="/music">Music
			{% if active and active=='music' %}
				<span class="sr-only">(current)</span>
			{% endif %}
				</a>
			</li>
		-->
		</ul>
	</div>
</nav>

{% if active == 'home' %}

<div id='header' class="container-fluid">
	<div class="row bg-primary text-light">
		<div class="col-xl-3 c-padding-1">
			<img src="{{url_for('static', filename='img/me.png')}}" class="image-fluid rounded resize" alt="me" />
		</div>
		<div class="col-xl-9 text-center c-padding-1">
			<h3 class="relief-shadow text-white">Who Am I?</h3>
			<p>A computer science student @ <a href="https:/www.uni-bremen.de"><b>Uni Bremen</b></a> and part time sysadmin. I am also
				said to play a mean guitar <em>/m/</em></p>
		</div>
	</div>

</div>


{% endif %}

{% endblock header %}