{% extends "base.html" %} {% block content %}

<div class="row bg-info text-white">
    <div class="col-12 c-padding-1">
        <h3 class="relief-shadow">Welcome</h3>
    </div>
</div>
<div class="row  blog-post text-dark">
    <div class="col-md-12 c-padding-1">
        <p> Nice to meet you. On this few pages, you can find out almost everything about me and what I do, wether its my music
            or involvement in computer science and programming.
        </p>
        <p> If you take interest in my technical skill, see my <a href="/about">About Page</a></p>

        <p>
            Currently, I am the sysadmin of <a href="http://www.brewelo.de">Brewelo Gmbh &amp; Co. KG.</a>


        </p>

        <p>

            I am an enrolled computer science student at <a href="https://www.uni-bremen.de">
                    Universität Bremen
                </a>

        </p>

        <p>I play guitar in <a href="https://tothosewhoexist.bandcamp.com/">this</a> band.</p>


    </div>
</div>




{% endblock content %}