{% extends "base.html" %} {% block content %}
<div class="c-padding-1">


    <h1>Login</h1>
    
    <form action="" method="post" name="login">
    
    
        {{ form.hidden_tag() }}
    
    
        <p>
            Username <br> {{form.username(size=40)}} <br> {% for error in form.username.errors %}
            <span class="bg-warning">
                [{{ error }}]        
            </span> {% endfor %} <br> Password <br> {{ form.password(size=40) }} <br> {% for error in form.password.errors
            %}
            <span class="bg-warning">
                    [{{ error }}]        
                </span> {% endfor %} <br>
        </p>
    
        <p>Remember Me {{form.rememberme}} </p>
    
        <p><input type="submit" value="Enter"></p>
    
    </form>

</div>

{% endblock content %}